<div class="hero-unit">

	<h1>Welcome to Eric's Home Page</h1>

	<p>
			Find me in app/views/pages/home.html.erb
	</p>


	<p>
		<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>

</div>
